<h2>{{ student.name }}'s Details</h2>
<div class="student-details">
    <table border="1" style="text-align: center;">
        <tr>
            <th>Roll Number</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>DOB</th>
            <th>Admission Date</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>{{ student.rollNumber }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.DOB }}</td>
            <td>{{ student.admissionDate }}</td>
            <td>{{ student.gender }}</td>
        </tr>
    </table>
    <button><a href="{% url 'studentlist' %}" style="text-decoration: none;">Back to Student List</a></button>
    <button><a href="{% url 'updatestudent' student.id %}" style="text-decoration: none;">Update</a></button>
</div>